<h2 mat-dialog-title>Add Movie to a collection</h2>

<div mat-dialog-content>

<mat-form-field class="m-2" style="width:50%;" appearance="fill">
  <mat-label>Select an option</mat-label>
  <mat-select #select>
    <!-- <ng-container *ngFor="let option of cleanCollections"> -->
      <ng-container *ngFor="let option of collections">
      <!-- <mat-option [value]="option.key">{{option.title}}</mat-option> -->
      <mat-option [value]="option.id">{{option.title}}</mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelUserDialog()">Cancel</button>
  <button mat-button [disabled]="!select.value" [mat-dialog-close]="{key:select.value,movie:data}">Ok</button>
</div>
