<mat-toolbar color="primary" class="toolbar-position-fixed">
  <button mat-button [matMenuTriggerFor]="mymenu">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </button>
  <mat-menu #mymenu="matMenu">
   <button routerLink="/home" mat-menu-item>Home search page</button>
    <button routerLink="/all-collections" mat-menu-item>Movies Collections Page</button>
    <button routerLink="/create-collection" mat-menu-item>Create a movie collection</button>
  </mat-menu>
  <span>Movies-Project</span>
  <span class="toolbar-item-spacer"></span>
  <button mat-icon-button routerLink="#" matTooltip="My LinkedIn Profile">
    <a target="_blank" href="https://www.linkedin.com/in/paraskevas-lysikatos/">
      <mat-icon>person</mat-icon>
    </a>
  </button>
</mat-toolbar>
