<div class="contain mt-5 p-5">
  <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="mb-3 col-lg-10">
        <input
          alphanumeric
          type="text"
          class="form-control"
          formControlName="movieName"
          placeholder="Search Movie Here ..."
        />
        <span
          class="text-danger"
          *ngIf="(searchFormControl['movieName'].touched || submitted) && searchFormControl['movieName'].errors?.['required']"
        >
          Movie name is required
        </span>
        <span
          class="text-danger"
          *ngIf="(searchFormControl['movieName'].touched || submitted) && searchFormControl['movieName'].errors?.['minlength']"
        >
          Min 3 characters
        </span>
      </div>

      <div class="col-lg-2">
        <button
          type="submit"
          [disabled]="searchForm.invalid"
          class="btn btn-success"
        >
          Search
        </button>
      </div>
    </div>
  </form>

  <div class="row mt-5">
    <div
      class="col-lg-4"
      *ngFor="
        let s of searchResult
          | slice
            : paginator.pageIndex * paginator.pageSize
            : (paginator.pageIndex + 1) * paginator.pageSize
      "
    >
      <div class="row">
        <div class="col-lg-3 mt-4 mb-4" *ngIf="s.poster_path">
          <img
            src="https://image.tmdb.org/t/p/original/{{ s.poster_path }}"
            (click)="goToNewTab(s.id)"
          />
        </div>
        <div class="col-lg-9 mt-4 mb-4">
          <h5 style="cursor: pointer" (click)="goToNewTab(s.id)">
            {{ s.title }}
          </h5>
          <br />
          <h5 style="cursor: pointer" (click)="goToNewTab(s.id)">
            {{ s.vote_average }}
          </h5>
           <br />
          <button type="button" class="btn btn-secondary" (click)="openAddDialog(s)">Add</button>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator
    #paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20, 40]"
    (page)="pageEvent = $event"
  >
  </mat-paginator>
</div>

